
.custom-card{
  margin: auto;
  margin-top: 20px;
}
.card-img-top{
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRo0REBSCteMEK4dwo6RWD_BtIn8CZ_1_dmLg&s");
  
}


  
  