*{
    padding: 10px;
    
    
}
@media only screen and (max-width: 1400px) {
  form{
    background-color: aquamarine;
}  

}


@media only screen and (max-width: 1200px) {
    form{
      background-color: rgb(105, 240, 127);
    }  
  }
  
  
@media only screen and (max-width: 992px) {
    form{
        background-color: gray;
    }  
  }

  
@media only screen and (max-width: 786px) {
    form{
      background-color: rgb(197, 104, 185);
    }  
  }

  
@media only screen and (max-width: 576px) {
    form{
      background-color: rgb(245, 235, 96);
    }  
  }
  



  
  