body{
    background-color: brown;
}
@media only screen and (max-width: 1400px){
 body {
    background-color: rgb(24, 231, 76);
 }

}

@media only screen and ( max-width: 1200px){
    body {
       background-color: blue;
    }
   
   }
   
   @media only screen and ( max-width: 992px){
    body {
       background-color: rgb(171, 20, 231);
    }
   
   }
   
   @media only screen and ( max-width: 786px){
    body {
       background-color: rgb(221, 12, 151);
    }
   
   }
   
   @media only screen and ( max-width: 576px){
    body {
       background-color: rgb(228, 36, 36);
    }
   
   }

   @media only screen and ( max-width: 320px){
    body {
       background-color: rgb(238, 215, 83);
    }
   
   }
   
   





